*{
    margin: 0%;
    padding: 0%;
}
header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    width:25%;
}
nav{
    width:100%;
    text-decoration: none;
}
.menu-item{
    display: inline-block;
    font-size: 1.25rem;
    padding: 1em 2em;
    overflow: hidden;
}
.menu-item a{
    text-decoration: none;
    color: #1e1d17;
}
.menu-item a:hover{
    text-decoration: underline;
}
#imagen-inicial{
    width: 100%;
    max-height: 400px;
}
.section-popular-candies{
    margin: 0%;
    box-sizing: content-box;
    background-color:  #e7d6d9;
    text-decoration: none;
    min-height: 70vh;
    text-align: center;
}
.product-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20%;
}
.product-container div{
    display: inline-flex;
    height:auto;
}
.product-container div img{
    max-width:100%;
    object-fit: contain;
}
footer{
    background-color: #142347;
}